@model Notebook.DTO.Models.Request.ContactPortfolioListModel

@{
    ViewData["Title"] = "Contacts";
}

<h3>@ViewBag.Title</h3>

<a class="button-rounded-red" style="margin: 5px" href="/Contact/CreateContact">Create contact</a>

<div id="contactIndex">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp customTable" id="patronIndexTable">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Patronymic</th>
                <th>Detail Link</th>
                <th>Edit contact</th>
                <th>Remove contact</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model.ContactPortfolioModels)
             {
                 <tr>
                     <td>@contact.FirstName</td>
                     <td>@contact.LastName</td>
                     <td>@contact.Patronymic</td>
                     <td><a asp-controller="Contact" asp-action="Detail" asp-route-id="@contact.Id">Contact Information</a></td>
                     <td><a asp-controller="Contact"asp-action="Edit" asp-route-id="@contact.Id"></a></td>
                     <td>
                         <div>@Html.ActionLink("Remove contact", "Remove", "Contact", new { id = contact.Id }, new { @class = "btn btn-danger btnRadius" })</div>
                     </td>
                 </tr>
             }
        </tbody>
    </table>
</div>

